Visa requirements for Serbian citizens
Visa requirements for Serbian citizens are administrative entry restrictions by the authorities of other states placed on citizens of the Republic of Serbia. As of 26th November 2022, Serbian citizens had visa-free or visa on arrival access to 136 countries and territories, ranking the Serbian passport 38th overall in terms of travel freedom according to the Henley Passport Index. The Serbian passport is still one of the 5 passports with the greatest improvement in rating since 2006, adding 103 countries to its visa-free list.
As of May 2019, Bosnia and Herzegovina, Brunei, Dominica, Grenada, Mauritius, Seychelles, Serbia and the United Arab Emirates are the only countries whose citizens may travel without a visa to China, Russia and the Schengen Area.
History
Before Serbia began issuing new biometric passports in 2008, its citizens travelled using old Federal Republic of Yugoslavia passport.
Until the 1990s, the Yugoslav passport has been described as highly sought-after commodity. As part of its non-aligned policies, the Yugoslav government signed numerous mutual agreements on visa-free entry from the mid-1960s. Eventually this applied to most states of the world, promoting the Yugoslav passport to "one of the most convenient in the world, as it was one of the few with which a person could travel freely through both the East and West" during the Cold War. Passport holders only required visas for six countries: the United States, West Germany, Greece, Israel, Albania and the People's Republic of China.
With the subsequent dissolution of Yugoslavia in the 1990s, the period of difficulties related to travel bureaucracy started for all successor states, including Serbia. From the 2000s onward, the situation has been significantly and constantly improving.
Recent
Serbia and Russia signed visa-free travel agreement in February 2009.
Serbia signed a visa-free agreement with Israel in September 2009.
The European Union Schengen area countries lifted visas for Serbia citizens in December 2009.
Serbia and Turkey mutually abolished visa regime in July 2010.
Serbia signed an agreement on the abolishment of visas with Kazakhstan in August 2010.
Serbia and Ukraine mutually abolished visas in May 2011.
Japan abolished visas for Serbia citizens in May 2011.
Serbia and Albania mutually abolished visas in July 2011.
In August 2013 agreement on visa-free travel with Brazil came into force.
In July 2014 agreement on visa-free travel with Mongolia came into force.
In August 2015 agreement on visa-free travel with Moldova came into force.
In April 2016 Indonesia abolished visas for Serbian citizens for a maximum stay of 30 days.
In January 2017, agreement on mutual visa free travel between China and Serbia entered into force.
In November 2017 Iran abolished visas for Serbian citizens but reversed its decision in October 2018.
Colombia abolished visas for Serbian citizens in February 2018.
Serbia and Kyrgyzstan mutually abolished visas on 8 November 2018.
Uzbekistan abolished visas for Serbia citizens on 21 January 2019.
United Arab Emirates abolished visas for Serbian citizens on 6 May 2019.
Barbados abolished visas for Serbian citizens in May 2019.
Suriname abolished visas for holders of Serbian passport in September 2019.
Armenia lifted visa requirements for Serbian citizens on 30 January 2020.
Serbia and Azerbaijan mutually abolished visas on 11 October 2021.
Serbia, as one of the initiators and creators of the Open Balkan, had already implemented visa free movements for the truckers and agriculture workers between Serbia, Albania & North Macedonia since 1 January 2022. 
The new Open Balkan zone between the three countries has been fully implemented since 1 January 2023, allowing all citizens to enjoy complete freedom of movement like EU citizens practice in the EU.
The Serbian government & Turkish government signed an agreement on 10 June 2022, allowing citizens of both countries to travel to each other's with just an ID card.
Future
Possible inclusion of Serbia in the Visa Waiver Program of the United States was proposed by Serbia in 2009. Serbian adjusted visa refusal rate remains above the threshold (3%).
The United Kingdom Embassy in Serbia announced that visas could be abolished for Serbian citizens in 2011. However, in 2013, the Home Office announced it had no intention of abolishing visas for Serbian citizens.
Serbia and Australia officials held talks on facilitation measures for the issuance of Australian visas for Serbian citizens in 2012.
In June 2014 New Zealand announced an introduction of a facilitated visa regime for Serbia citizens.
In November 2016 Serbia foreign minister held talks with Canada officials on the beginning of visa liberalisation for Serbian citizens.
In September 2021 Serbian foreign minister announced that Serbia and Guatemala are ready to mutually abolish visas.
Serbian government intends to sign reciprocal visa-free deals with Panama, Paraguay, Bahamas, Brunei, Bolivia, Mauritius, Malaysia, Venezuela and Guatemala
Serbian ministers of foreign affairs have also talked about visa liberalization with next countries : Jordan, Sri Lanka, Nicaragua, Mexico, Cape Verde, Comoros, Antigua and Barbuda, Vietnam., Saudi Arabia
Serbian authorities are also in process of signing visa-free deals for diplomatic passports with Zambia, Kenya, Ethiopia, Oman, Bangladesh, Turkmenistan, Tajikistan, Cambodia, Bhutan, Philippines, South Africa, Bahrain, Egypt, Lesotho, Togo, Qatar, and Mali
Due to regional interests of expanding the economic opportunities in cooperation with the governments of Serbia, Albania and North Macedonia, these three Western Balkan countries signed agreements to open their national borders to each other's citizens and products by 1 January 2023, without restrictions.
Territories and disputed areas
Visa requirements for Serbian citizens for visits to various territories, disputed areas, partially recognised countries and restricted zones:
Kosovo
The Constitution of Serbia recognises Kosovo as Serbian sovereign territory. Nevertheless, in reality, the Serbian authorities do not exercise effective control over the territory. In an agreement, facilitating visa free travel to the Schengen area, Serbia agreed with the EU to form the Serbian Coordination Directorate, responsible for issuing Serbian passports to the Kosovo resident Serbian citizens. These passports are treated differently from the regular Serbian passports and their holders are required to obtain entry visas for most territories and countries for which holders of the regular Serbian passport do not require a visa. All Serbian citizens resident in Kosovo, regardless of their ethnicity, are entitled to these special passports.
The UN administration in Kosovo UNMIK used to issue its own travel documents with the last ones being issued in July 2008. This document was recognised by several countries, but was in general refused at borders. The UNMIK travel documents were valid for two years, consequently there are no longer any valid UNMIK travel documents in circulation. Serbia didn't recognise the validity of the UN issued document nor does it recognise the Kosovan passport, which is officially recognised by 114 UN member states and is de facto accepted by other states.
Both Governments are actively negotiating various issues of mutual importance among which is what travel documents can be used for crossing between both countries.
Serbian ID as optional passport replacement
Serbian identity cards can be used instead of a passport for travel to some regional countries that have signed special agreements with the Serbian Government. Not all Serbian IDs feature contact-less RFID chips, so some are not fully ICAO9303 compliant biometric travel documents.
Non-visa restrictions
Many countries have entry restrictions on foreigners that go beyond the common requirement of having either a valid visa or a visa exemption. Such restrictions may be health related or impose additional documentation requirements on certain classes of people for diplomatic or political purposes.
Blank passport pages
Many countries require a minimum number of blank pages to be available in the passport being presented, typically one or two pages. Endorsement pages, which often appear after the visa pages, are not counted as being valid or available.
Vaccination
Many African countries, including Angola, Benin, Burkina Faso, Burundi, Cameroon, Central African Republic, Chad, Democratic Republic of the Congo, Republic of the Congo, Côte d'Ivoire, Equatorial Guinea, Gabon, Gambia, Ghana, Guinea-Bissau, Kenya, Liberia, Mali, Mauritania, Niger, Rwanda, São Tomé and Príncipe, Senegal, Sierra Leone and Togo, South Sudan, Uganda, and Zambia, require all incoming passengers older than nine months to one year to have a current International Certificate of Vaccination or Prophylaxis, as does the South American territory of French Guiana.
Some other countries require vaccination only if the passenger is coming from an infected area or has visited one recently or has transited for 12 hours in those countries: Algeria, Botswana, Cabo Verde, Chad, Djibouti, Egypt, Eswatini, Ethiopia, Gambia, Ghana, Guinea, Lesotho, Libya, Equatorial Guinea, Eritrea, Madagascar, Malawi, Mauritania, Mauritius, Mozambique, Namibia, Nigeria, Papua New Guinea, Seychelles, Somalia, South Africa, Sudan, Tunisia, Uganda, United Republic of Tanzania, Zambia and Zimbabwe.
An increasing number of countries have been imposing additional COVID-19 related health restrictions such as quarantine measures and testing requirements. Many countries increasingly consider the vaccination status of travellers with regard to quarantine requirements or when deciding to allow them entry at all.
Passport validity length
Very few countries, such as Paraguay, just require a passport valid on arrival.
However many countries and groupings now require only an identity card - especially from their neighbours. Other countries may have special bilateral arrangements that depart from the generality of their passport validity length policies to shorten the period of passport validity required for each other's citizens or even accept passports that have already expired (but not been cancelled).
Some countries, such as Japan, Ireland and the United Kingdom, require a passport valid throughout the period of the intended stay. 
In the absence of specific bilateral agreements, countries requiring passports to be valid for at least 6 more months on arrival include Afghanistan, Algeria, Anguilla, Bahrain, Bhutan, Botswana, British Virgin Islands, Brunei, Cambodia, Cameroon, Cape Verde, Cayman Islands, Central African Republic, Chad, Comoros, Costa Rica, Côte d'Ivoire, Curaçao, Ecuador, Egypt, El Salvador, Equatorial Guinea, Fiji, Gabon, Guinea Bissau, Guyana, Haiti, India, Indonesia, Iran, Iraq, Israel, Jordan, Kenya, Kiribati, Kuwait, Laos, Madagascar, Malaysia, Marshall Islands, Mongolia, Myanmar, Namibia, Nepal, Nicaragua, Nigeria, Oman, Palau, Papua New Guinea, Peru. Philippines, Qatar, Rwanda, Samoa, Saudi Arabia, Singapore, Solomon Islands, Somalia, Sri Lanka, Sudan, Suriname, Tanzania, Thailand, Timor-Leste, Tokelau, Tonga, Turkey, Tuvalu, Uganda, United Arab Emirates, Vanuatu, Venezuela, and Vietnam.
Countries requiring passports valid for at least 4 months on arrival include Micronesia and Zambia.
Countries requiring passports with a validity of at least 3 months beyond the date of intended departure include Azerbaijan, Bosnia and Herzegovina, Honduras, Montenegro, Nauru, Moldova and New Zealand. 
Similarly, the EEA countries of Iceland, Liechtenstein, Norway, all European Union countries (except the Republic of Ireland) together with Switzerland also require 3 months validity beyond the date of the bearer's intended departure unless the bearer is an EEA or Swiss national.
Countries requiring passports valid for at least 3 months on arrival include Albania, North Macedonia, Panama, and Senegal.
Bermuda requires passports to be valid for at least 45 days upon entry.
Countries that require a passport validity of at least one month beyond the date of intended departure include Eritrea, Hong Kong, Lebanon, Macau, the Maldives and South Africa.
Criminal record
Some countries, including Australia, Canada, Fiji, New Zealand and the United States, routinely deny entry to non-citizens who have a criminal record while others impose restrictions depending on the type of conviction and the length of the sentence.
Persona non grata
The government of a country can declare a diplomat persona non grata, banning entry into that country. In non-diplomatic use, the authorities of a country may also declare a foreigner persona non grata permanently or temporarily, usually because of unlawful activity.
For example, Azerbaijan bans visits by foreign citizens that have previously entered Azerbaijan through non-Azerbaijani controlled borders. This includes the illegal entry into the separatist region of Nagorno-Karabakh (the de facto independent Republic of Artsakh), its surrounding Armenian-occupied territories, and the Azerbaijani exclaves of Karki, Yuxarı Əskipara, Barxudarlı, and Sofulu which are de jure part of Azerbaijan but under the control of Armenia. Foreign citizens who enter these territories will be permanently banned from entering the Republic of Azerbaijan and will be included in their "list of personae non gratae". As of 2 September 2019, the list mentioned 852 people.
Israeli stamps
Kuwait, Lebanon, Libya,  Syria, and Yemen do not allow entry to people with passport stamps from Israel or whose passports have either a used or an unused Israeli visa, or where there is evidence of previous travel to Israel such as entry or exit stamps from neighbouring border posts in transit countries such as Jordan and Egypt. 
To circumvent this Arab League boycott of Israel, the Israeli immigration services have now mostly ceased to stamp foreign nationals' passports on either entry to or exit from Israel (unless the entry is for some work-related purposes). Since 15 January 2013, Israel no longer stamps foreign passports at Ben Gurion Airport. Passports are still (as of 22 June 2017) stamped at Erez when passing into and out of Gaza.
Iran refuses admission to holders of passports containing an Israeli visa or stamp that is less than 12 months old.
Biometrics
Several countries mandate that all travellers, or all foreign travellers, be fingerprinted on arrival and will refuse admission to or even arrest travellers who refuse to comply. In some countries, such as the United States, this may apply even to transit passengers who merely wish to quickly change planes rather than go landside.
Fingerprinting countries include Afghanistan, Argentina, Brunei, Cambodia, China, Ethiopia, Ghana, Guinea, India, Japan, Kenya (both fingerprints and a photo are taken), Malaysia upon entry and departure, Mongolia, Paraguay, Saudi Arabia, Singapore, South Korea, Taiwan, Thailand, Uganda, the United Arab Emirates and the United States.
Many countries also require a photo be taken of people entering the country. The United States, which does not fully implement exit control formalities at its land frontiers (although long mandated by domestic legislation), intends to implement facial recognition for passengers departing from international airports to identify people who overstay their visa.
Together with fingerprint and face recognition, iris scanning is one of three biometric identification technologies internationally standardised since 2006 by the International Civil Aviation Organization (ICAO) for use in e-passports and the United Arab Emirates conducts iris scanning on visitors who need to apply for a visa.
See also
References and Notes