Visa requirements for United States citizens
As of 15 July 2022, holders of a United States passport,may travel to 186 countries and territories without a travel visa, or with a visa on arrival. The United States passport currently ranks 7th in terms of travel freedom (tied with the passports of Belgium, New Zealand, Norway, and Switzerland) according to the Henley Passport Index. It is also ranked 3rd by the Global Passport Power Rank.
Visa requirements
General visa requirements of sovereign countries towards United States citizens:
Pre-approved visas pick-up
Pre-approved visas can be picked up on arrival in the following countries instead in embassy or consulate.
Territories or administrative subdivisions with different visa policies
Visa requirements for United States citizens for visits to various territories, disputed areas, partially recognized countries not mentioned in the list above, recognized administrative subdivisions that operate on different visa policies and restricted zones:
Passport card
The United States Passport Card can be used as an alternative to the passport booklet only when travelling to and from Canada, Mexico, Bermuda, and Caribbean islands at maritime ports-of-entry or land border crossings. The card is not valid for international air travel whatsoever; if traveling by air, the passport book is required.
APEC Travel Business Card
The APEC Business Travel Card (ABTC) is meant to facilitate travel for U.S. citizens engaged in verified business in the APEC region.
The U.S. ABTC should enable access to a dedicated fast-track lane for expedited immigration processing at some participating foreign APEC member airports. U.S. APEC Business Travel Card holders may also use the Global Entry kiosks at participating airports upon their U.S. return. However, as the U.S. is a transitional member of the ABTC scheme, the U.S. APEC Business Travel Card cannot be used in lieu of a visa to enter an APEC member country. The program was initially set to expire on 30 September 2018, but the November 2017 signing of the Asia-Pacific Economic Cooperation Business Travel Cards Act of 2017 (S. 504) ensured it would permanently remain.
Consular protection of U.S. citizens abroad
The United States has the second most diplomatic missions of any country in the world.

See also List of diplomatic missions of the United States and List of diplomatic missions in the United States.
The Department of State regularly publishes travel warnings or travel alerts.
Non-visa restrictions
Blank passport pages
Many countries require a minimum number of blank pages to be available in the passport being presented, typically one or two pages. Endorsement pages, which often appear after the visa pages, are not counted as being valid or available.
Vaccination
Many African countries, including Angola, Benin, Burkina Faso, Burundi, Cameroon, Central African Republic, Chad, Democratic Republic of the Congo, Republic of the Congo, Côte d'Ivoire, Equatorial Guinea, Gabon, Gambia, Ghana, Guinea-Bissau, Kenya, Liberia, Mali, Mauritania, Niger, Rwanda, São Tomé and Príncipe, Senegal, Sierra Leone and Togo, South Sudan, Uganda, and Zambia, require all incoming passengers older than nine months to one year to have a current International Certificate of Vaccination or Prophylaxis, as does the South American territory of French Guiana.
Some other countries require vaccination only if the passenger is coming from an infected area or has visited one recently or has transited for 12 hours in those countries: Algeria, Botswana, Cabo Verde, Chad, Djibouti, Egypt, Eswatini, Ethiopia, Gambia, Ghana, Guinea, Lesotho, Libya, Equatorial Guinea, Eritrea, Madagascar, Malawi, Mauritania, Mauritius, Mozambique, Namibia, Nigeria, Papua New Guinea, Seychelles, Somalia, South Africa, Sudan, Tunisia, Uganda, United Republic of Tanzania, Zambia and Zimbabwe.
An increasing number of countries have been imposing additional COVID-19 related health restrictions such as quarantine measures and testing requirements. Many countries increasingly consider the vaccination status of travellers with regard to quarantine requirements or when deciding to allow them entry at all.
Passport validity length
Very few countries, such as Paraguay, just require a passport valid on arrival.
However many countries and groupings now require only an identity card - especially from their neighbours. Other countries may have special bilateral arrangements that depart from the generality of their passport validity length policies to shorten the period of passport validity required for each other's citizens or even accept passports that have already expired (but not been cancelled).
Some countries, such as Japan, Ireland and the United Kingdom, require a passport valid throughout the period of the intended stay. 
In the absence of specific bilateral agreements, countries requiring passports to be valid for at least 6 more months on arrival include Afghanistan, Algeria, Anguilla, Bahrain, Bhutan, Botswana, British Virgin Islands, Brunei, Cambodia, Cameroon, Cape Verde, Cayman Islands, Central African Republic, Chad, Comoros, Costa Rica, Côte d'Ivoire, Curaçao, Ecuador, Egypt, El Salvador, Equatorial Guinea, Fiji, Gabon, Guinea Bissau, Guyana, Haiti, India, Indonesia, Iran, Iraq, Israel, Jordan, Kenya, Kiribati, Kuwait, Laos, Madagascar, Malaysia, Marshall Islands, Mongolia, Myanmar, Namibia, Nepal, Nicaragua, Nigeria, Oman, Palau, Papua New Guinea, Peru. Philippines, Qatar, Rwanda, Samoa, Saudi Arabia, Singapore, Solomon Islands, Somalia, Sri Lanka, Sudan, Suriname, Tanzania, Thailand, Timor-Leste, Tokelau, Tonga, Turkey, Tuvalu, Uganda, United Arab Emirates, Vanuatu, Venezuela, and Vietnam.
Countries requiring passports valid for at least 4 months on arrival include Micronesia and Zambia.
Countries requiring passports with a validity of at least 3 months beyond the date of intended departure include Azerbaijan, Bosnia and Herzegovina, Honduras, Montenegro, Nauru, Moldova and New Zealand. 
Similarly, the EEA countries of Iceland, Liechtenstein, Norway, all European Union countries (except the Republic of Ireland) together with Switzerland also require 3 months validity beyond the date of the bearer's intended departure unless the bearer is an EEA or Swiss national.
Countries requiring passports valid for at least 3 months on arrival include Albania, North Macedonia, Panama, and Senegal.
Bermuda requires passports to be valid for at least 45 days upon entry.
Countries that require a passport validity of at least one month beyond the date of intended departure include Eritrea, Hong Kong, Lebanon, Macau, the Maldives and South Africa.
Criminal record
Some countries, including Australia, Canada, Fiji, New Zealand and the United States, routinely deny entry to non-citizens who have a criminal record while others impose restrictions depending on the type of conviction and the length of the sentence.
Persona non grata
The government of a country can declare a diplomat persona non grata, banning entry into that country. In non-diplomatic use, the authorities of a country may also declare a foreigner persona non grata permanently or temporarily, usually because of unlawful activity.
For example, Azerbaijan bans visits by foreign citizens that have previously entered Azerbaijan through non-Azerbaijani controlled borders. This includes the illegal entry into the separatist region of Nagorno-Karabakh (the de facto independent Republic of Artsakh), its surrounding Armenian-occupied territories, and the Azerbaijani exclaves of Karki, Yuxarı Əskipara, Barxudarlı, and Sofulu which are de jure part of Azerbaijan but under the control of Armenia. Foreign citizens who enter these territories will be permanently banned from entering the Republic of Azerbaijan and will be included in their "list of personae non gratae". As of 2 September 2019, the list mentioned 852 people.
Israeli stamps
Kuwait, Lebanon, Libya,  Syria, and Yemen do not allow entry to people with passport stamps from Israel or whose passports have either a used or an unused Israeli visa, or where there is evidence of previous travel to Israel such as entry or exit stamps from neighbouring border posts in transit countries such as Jordan and Egypt. 
To circumvent this Arab League boycott of Israel, the Israeli immigration services have now mostly ceased to stamp foreign nationals' passports on either entry to or exit from Israel (unless the entry is for some work-related purposes). Since 15 January 2013, Israel no longer stamps foreign passports at Ben Gurion Airport. Passports are still (as of 22 June 2017) stamped at Erez when passing into and out of Gaza.
Iran refuses admission to holders of passports containing an Israeli visa or stamp that is less than 12 months old.
Biometrics
Several countries mandate that all travellers, or all foreign travellers, be fingerprinted on arrival and will refuse admission to or even arrest travellers who refuse to comply. In some countries, such as the United States, this may apply even to transit passengers who merely wish to quickly change planes rather than go landside.
Fingerprinting countries include Afghanistan, Argentina, Brunei, Cambodia, China, Ethiopia, Ghana, Guinea, India, Japan, Kenya (both fingerprints and a photo are taken), Malaysia upon entry and departure, Mongolia, Paraguay, Saudi Arabia, Singapore, South Korea, Taiwan, Thailand, Uganda, the United Arab Emirates and the United States.
Many countries also require a photo be taken of people entering the country. The United States, which does not fully implement exit control formalities at its land frontiers (although long mandated by domestic legislation), intends to implement facial recognition for passengers departing from international airports to identify people who overstay their visa.
Together with fingerprint and face recognition, iris scanning is one of three biometric identification technologies internationally standardised since 2006 by the International Civil Aviation Organization (ICAO) for use in e-passports and the United Arab Emirates conducts iris scanning on visitors who need to apply for a visa. The United States Department of Homeland Security has announced plans to greatly increase the biometric data it collects at US borders. In 2018, Singapore began trials of iris scanning at three land and maritime immigration checkpoints.
Foreign travel statistics
These are the numbers of visits by U.S. nationals to various countries in 2015 (unless otherwise noted):
See also
Notes